pre {
    background: #f4f5f6;
    border-left: 0.3rem solid #636e72;
    overflow-y: hidden;
  }
  pre code{
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
  }
  code {
    background: #f4f5f6;
    border-radius: .4rem;
    font-size: 86%;
    margin: 0 .2rem;
    padding: .2rem .5rem;
    white-space: nowrap;
    font-family: monospace, monospace;
  }
